body {
    background: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;    
}

.container {
    width: 1024px;
    margin: 0, auto;
}

#main-bio, #bio-image, #contact-info {
    float: left;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
    line-height: 1.5em;
}

#bio-image {
    width: 200px;
    margin: 10px;
}

a {
    color: #d21034;
}
/* Add an id called "main-bio" for the first section tag.
Add an id called "contact-info" for the second section tag.
Add an id called "bio-image" for the bio image. */